body {
  background-color: white;
}
.left,
.right {
  float: left;
  width: 20%;
}
.main {
  float: left;
  width: 60%;
}
@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}
.body-content {
  right: 25%;
  top: 30%;
  position: absolute;
}

.body-content2 {
  width: 50%;
  height: 50%;
  left: 50%;
  top: 30%;
  position: absolute;
}

.no-product {
  left: 35%;
  top: 30%;
  position: absolute;
}
.input {
  width: 700px;
  height: 80px;
  border-radius: 5px;
  margin-top: 5%;
  padding-left: 2%;
  font-family: Metropolis;
  font-size: 20px;
}

.submit-button {
  right: 0%;
  position: absolute;
  width: 183px;
  height: 52px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  align-items: flex-end;
  text-align: center;
  color: #090808;
  background-color: #fed541;
  border-radius: 5px;
}

.welcome-text {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}
.submit-your-link-text {
  left: 20%;
  top: 30%;
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin-top: 3%;
  color: #000000;
}

.submitted_links {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 30px;
  color: #000000;
}

.logo {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Metropolis;
  font-weight: bold;
  font-size: 25px;
}

.page2-text {
  margin-top: 5%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  right: 40%;
}

.header {
  background-color: #fed541;
  overflow: hidden;
}

.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Metropolis;
  font-weight: bold;
  font-size: 17px;
}

.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: white;
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
  margin-top: 10%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

.title {
  position: absolute;
  top: 50%;
  right: 50%;
}
.description {
  position: absolute;
  top: 60%;
  right: 60%;
}

.page-3-title {
  right: 35%;
  top: 30%;
  position: absolute;
}
