{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Price Monitor</title>
  </head>

  <body>
    <div class="header">
      <div class="logo">prima.</div>
      <a href="{% url 'fabelio_price_monitor:submit_link' %}">Submit Link</a>
      <a href="{% url 'fabelio_price_monitor:submitted_link' %}"
        >Submitted Link</a
      >
      <a href="{% url 'fabelio_price_monitor:product' %}">Product</a>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
