{% extends 'base.html' %} {% block content %} {% load widget_tweaks %}
<div class="body-content">
  <div class="welcome-text">
    Welcome,
  </div>
  <div class="submit-your-link-text">
    Please submit your product page link below!
  </div>
  <form action="" method="POST" id="input-link">
    {% csrf_token %} {% render_field form.url class="input" %}
  </form>
  <button type="submit" id="submit" class="submit-button" form="input-link">
    Submit
  </button>
</div>
{% endblock%}
