{% extends 'base.html' %} {%block content%}

  {% if product is not None %}
  <div class="body-content2">
  <h1>{{product.title}}</h1>
  <h2>{{product.current_price}}</h2>
  <p>
    {{product.description}}
  </p>
</div>
      {% else %}
      <div class="no-product">
      <h1 >No Product to Display</h1>
      </div>
      {% endif %}
    

    {% endblock %}
</div>
