{% extends 'base.html' %} {% block content %}
<h1 class="page2-text">Submitted Link</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Link</th>
      <th scope="col">Product Name</th>
      <th scope="col">Last Price</th>
      <th scope="col">Product</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{product.url}}</td>
      <td>{{product.title}}</td>
      <td>{{product.current_price}}</td>
      <td>
        <a href="{% url 'fabelio_price_monitor:product' title=product.title %}"
          >{{product.title}}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
